.btn-link {
  background: var(--primary-color);
  padding: 10px 20px;
  border-radius: 5px;
}

/* Margin */
.mg-b-120 {
  margin-bottom: 120px;
}
.mg-b-80 {
  margin-bottom: 80px;
}
.mg-b-72 {
  margin-bottom: 72px;
}
.mg-b-60 {
  margin-bottom: 60px;
}
.mg-b-48 {
  margin-bottom: 48px;
}
.mg-b-40 {
  margin-bottom: 40px;
}
.mg-b-32 {
  margin-bottom: 2rem;
}
.mg-b-24 {
  margin-bottom: 24px;
}
.mg-b-20 {
  margin-bottom: 20px;
}
.mg-b-16 {
  margin-bottom: 16px;
}
.mg-b-8 {
  margin-bottom: 8px;
}
.mg-b-4 {
  margin-bottom: 4px;
}

.col {
  grid-column: 1/-1;
}
